{% extends "base.html" %}

{% block title %}About the Author{% endblock %}

{% block content %}
<style type="text/css">
	div.column {
			float: left;
			width: 40%;
		}
	div.text {
			float: right;
			width: 60%;
		}
</style>
	<div class="container">
		<div class = "header">
			<h1>Samantha Dana</h1>
		</div>
		<div class= "column">
			<img src = "static/img/sdana_3.jpg">
		</div>
		<div class = "text">
		<h2>Professional History</h2>
		<p>I discovered a love of data through an internship and part-time gig at the <a href="http://www.nationalpriorities.org">National Priorities Project</a>, a non-profit dedicated to making the federal budget accessible to every day citizens. I've continued my data work as a Grants Researcher at <a href="http://www.stcc.edu">Springfield Technical Community College</a>, where I find, analyze, and prepare federal, state, and local demographic and labor market data for inclusion in grant proposals, among other duties.</p><br>

		<h2>Education</h2>
		<p>I began my academic career as a German major at the former <a href="http://www.lasvegasacademy.net">Las Vegas Academy of International Studies, Performing, and Visual Arts</a>, a magnet high school in my hometown of Las Vegas. I continued on to the <a href="http://www.unlv.edu">University of Nevada - Las Vegas</a>, majoring in anthropology, and finished with a bachelor's degree in Political Science from the <a href="http://www.umass.edu">University of Massachusetts - Amherst</a>. I am currently a student in the Master of Science in Government Analytics degree program at <a href="http://www.jhu.edu"> The Johns Hopkins University</a>, concentrating in Statistical Analysis.</p><br>

		<h2>Extracurriculars</h2>
		<p> When I'm not working at STCC or on grad school work, I like to sing (either karaoke or with the <a href="http://www.valleychoirs.com">Rock Voices</a> choir), read (find me on <a href="https://www.goodreads.com/user/show/11584610-samantha">Goodreads</a>), travel, and hang out with my husband and two cats.
		</div>
	</div>

{% endblock %}