{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
	<div class="container">
		<h1>Welcome to the Faculty Influence Project</h1>
		<hr />

		<p>This project uses College Scorecard API data and some Python programming to examine the effect of the trend in rising percentages of part-time or adjunct faculty on the graduation rates of students in community colleges, where the trend is most prevalent.</p>
		<p>Visit the <a href="/researchquestion">Research Question</a> page to learn more.</p>
	</div>
{% endblock %}